In [111]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import cross_val_score

In [112]:
df=pd.read_csv('C:/Users/Acer/nba_2013.csv')

In [113]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [114]:
df.isnull().any()

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.              True
x3p             False
x3pa            False
x3p.             True
x2p             False
x2pa            False
x2p.             True
efg.             True
ft              False
fta             False
ft.              True
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

In [115]:
df["fg."].fillna(df["fg."].mean(),inplace=True)
df["x2p."].fillna(df["x2p."].mean(),inplace=True)
df["efg."].fillna(df["efg."].mean(),inplace=True)
df["x3p."].fillna(df["x3p."].mean(),inplace=True)
df["ft."].fillna(df["ft."].mean(),inplace=True)

In [116]:
# Select only the numeric columns from the dataset
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']
nba_numeric = df[distance_columns]

In [117]:
nba_numeric.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,23,63,0,847,66,141,0.468,4,15,0.266667,...,0.660,72,144,216,28,23,26,30,122,171
1,20,81,20,1197,93,185,0.503,0,0,0.285111,...,0.581,142,190,332,43,40,57,71,203,265
2,27,53,12,961,143,275,0.520,0,0,0.285111,...,0.639,102,204,306,38,24,36,39,108,362
3,28,73,73,2552,464,1011,0.459,128,300,0.426667,...,0.815,32,230,262,248,35,3,146,136,1330
4,25,56,30,951,136,249,0.546,0,1,0.000000,...,0.836,94,183,277,40,23,46,63,187,328

In [118]:
nba_normalized = nba_numeric.apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [119]:
# Category Columns
nba_category = df[['player', 'bref_team_id', 'season']]

In [120]:
nba = pd.concat([nba_category, nba_normalized], axis=1)

In [121]:
from sklearn.model_selection import train_test_split

# The columns that we will be making predictions with.
x_columns = nba[['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']]

# The column that we want to predict.
y_column = nba["pts"]

x_train, x_test, y_train, y_test = train_test_split(x_columns, y_column, test_size=0.3, random_state=0)

In [122]:
# Create the knn model. We will use regressor because we are predicting on continous values

from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

# check for increasing neighbour values to see which has the highest regression score

for k in range(10):
    k_value = k + 1
    knn = KNeighborsRegressor(n_neighbors = k_value)
    knn.fit(x_train, y_train) 
    y_pred = knn.predict(x_test)
    print ("Regression score is:",format(metrics.r2_score(y_test, y_pred),'.4f'), "for k_value:", k_value)

Regression score is: 0.9145 for k_value: 1
Regression score is: 0.9464 for k_value: 2
Regression score is: 0.9548 for k_value: 3
Regression score is: 0.9594 for k_value: 4
Regression score is: 0.9583 for k_value: 5
Regression score is: 0.9579 for k_value: 6
Regression score is: 0.9579 for k_value: 7
Regression score is: 0.9609 for k_value: 8
Regression score is: 0.9576 for k_value: 9
Regression score is: 0.9557 for k_value: 10

In [123]:
## K=8, as it gives us the highest prediction score.

knn = KNeighborsRegressor(n_neighbors = 8)
knn.fit(x_train, y_train) 
y_pred = knn.predict(x_test)
print ("Mean Squared Error is:", format(metrics.mean_squared_error(y_test, y_pred), '.7f'))
print ("Regression score is:", format(metrics.r2_score(y_test, y_pred),'.4f'))

Mean Squared Error is: 0.0011143
Regression score is: 0.9609

In [124]:
Test_With_Predicted = pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred.tolist()})

Test_With_Predicted

     Actual Points  Predicted Points
0         0.168145          0.125723
1         0.276514          0.297243
2         0.422676          0.363189
3         0.007327          0.011088
4         0.381026          0.373939
5         0.160432          0.159130
6         0.100656          0.097570
7         0.271115          0.264221
8         0.032009          0.029985
9         0.009641          0.014317
10        0.437331          0.423159
11        0.025453          0.026321
12        0.038180          0.028924
13        0.010027          0.015715
14        0.182029          0.171037
15        0.805631          0.705891
16        0.052449          0.048641
17        0.006170          0.011955
18        0.481681          0.470642
19        0.030081          0.039771
20        0.077902          0.084651
21        0.059005          0.053750
22        0.330120          0.407491
23        0.412649          0.442056
24        0.190899          0.266728
25        0.055148          0.047339
26        0.000000          0.001253
27        0.441188          0.343810
28        0.436174          0.475656
29        0.364057          0.311174
..             ...               ...
115       0.155804          0.143270
116       0.416892          0.436030
117       0.121481          0.125675
118       0.403779          0.401658
119       0.610490          0.556884
120       0.292325          0.294061
121       0.044350          0.042567
122       0.000000          0.010316
123       0.401465          0.392644
124       0.095642          0.126302
125       0.191670          0.175569
126       0.077131          0.085278
127       0.294254          0.282443
128       0.338604          0.318502
129       0.092557          0.120806
130       0.350174          0.315947
131       0.126494          0.146404
132       0.305052          0.316429
133       0.035480          0.063295
134       0.104126          0.113768
135       0.055920          0.070334
136       0.416506          0.463074
137       0.389896          0.377507
138       0.154647          0.158938
139       0.032009          0.028683
140       0.426919          0.421664
141       0.013498          0.019379
142       0.312379          0.303943
143       0.306980          0.273766
144       0.036251          0.029985

[145 rows x 2 columns]